{% load static %}
 <!-- footer Start -->
 <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <img src="{% static 'images/logo-min.jpg' %}" alt="logo">
            <p class="mt-4">EASA is an ICAO Regional Training Centre of Excellence (RTCE), an ICAO TrainairPLUS full member, an ICAO Aviation Security training centre (ASTC). EASA is also the training Directorate of the Kenya Civil Aviation Authority (KCAA) as an Approved Training Organization (ATO), an IATA training partner.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h5>Quick Links</h5>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i> Services</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Tracker</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> Reviews</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h5>Address</h5>
            <p class="mt-3"><i class="fa fa-map-marker-alt"></i> East Africa School of Aviation<br>
              P.O. Box: 30689-00100,<br>
              Nairobi, Kenya.<br>
              Tel:+254206823602-7,+254716164229,<br>
              +254716164230, +254788777724,<br>
              +2540788777721<br>
              Fax:+254 20 6823699<br>
              Email: info(@)easa.ac.ke <br>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h5>Social Connect</h5>
            <div class="social-icons">
              <a target="_blank" href="https://facebook.com/home"><i class="fa fa-facebook"></i></a>
              <a target="_blank" href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
              <a target="_blank" href="https://linkedin.com/home"><i class="fa fa-linkedin"></i></a>
              <a target="_blank" href="https://instagram.com/home"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copyright">
            © 2022 Equitexy Business Solutions All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer End -->