{% extends 'partials/base.html' %}
{% block title %} Products Page {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
                {%if message%}
                <div class="alert alert-{{ message.tags }}">
                    {{message}}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row my-4">
        {% comment %} <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form action="">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Quantity</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group ">
                        <label for="inputState">Category</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <input class="btn btn-success btn-block" type="submit" value="Add Product">

                </form>
            </div>
        </div> {% endcomment %}
        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Sent By</th>
                        <th scope="col">To Country</th>
                        <th scope="col">Sent To</th>
                        <th scope="col">To Country</th>
                        <th scope="col">Time created</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in currentInvoice %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{invoice.from_personname}}</td>
                        <td>{{invoice.from_town}}</td>
                        <td>{{invoice.to_consigneeename}}</td>
                        <td>{{invoice.to_town}}</td>
                        <td>{{invoice.timestamp_created}}</td>
                        <td>
                            <a href="{% url 'generate_airwaybill' invoice.inv_id_id %}" class="btn btn-primary" > <i class="fa fa" aria-hidden="true"></i> Generate PDF </a>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--End Table-->
{% endblock %}
